# Core app and runtime libraries
pandas>=2.1.0,<3.0.0
requests==2.31.0
plotly==5.18.0
meteostat==1.6.5
numpy>=1.26.0,<2.0.0
streamlit==1.24.0

# Dev tools
bandit>=1.7.7,<2.0.0
black>=24.0,<25.0
coverage>=7.5.0,<8.0.0
isort>=5.13.0,<6.0.0
mypy>=1.8.0,<2.0.0
pre-commit>=3.7.0,<4.0.0
pytest>=7.4.0,<8.0.0
ruff>=0.4.0
